# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


executables/*
dev/test/tempdir/*
dev/test/test_src_fingerprint/fingerprint_distance
dev/doc/
*.save
*.xml
*.in
make.inc

build/
